@import '../../../../styles/_global';

.sentInvite {
  text-align: center;
  padding: 32px 16px;
}

.emailIcon {
  margin-top: 32px;
  margin-bottom: 16px;
}

.cancel {
  color: $color-base-gray-dark;
}
