@import '../../styles/_global.scss';

$height: 44px;

.jobs {
  height: 100%;
  overflow: hidden;
  background-color: $color-white;

  .content {
    padding: 10px;
    height: calc(100vh - 41px - 49px);
  }

  .head {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $color-white;
    :global {
      .ant-input {
        width: 278px;
      }
    }
  }

  .more {
    text-align: center;
    margin-top: 10px;
    padding: 12px;
  }

  .jobsList {
    max-height: calc(100vh - 150px);
    overflow-y: auto;

    div {
      overflow-x: hidden;
    }
  }
}
.hideMore {
  height: $height;
}
